{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="webcam_div" style="text-align: center; padding: 1em;">
    <img id="stream" src="{{ cam_url }}" width="640" height="480" border=2>
  </div>

  <!-- <table cellpadding="0" cellspacing="5" border="0">
    <tbody><tr>
      <td>
        <a href="http://lightpi.local:5000/api/on" class="linkInActive" target="Temp">Light: ON</a>
      </td>
      <td>|</td>
      <td>
        <a href="http://lightpi.local:5000/api/dim" class="linkInActive" target="Temp">DIM</a>
      </td>
      <td>|</td>
      <td>
        <a href="http://lightpi.local:5000/api/off" class="linkInActive" target="Temp">OFF</a>
      </td>
      <td>|</td>
      <td>
        <a href="http://lightpi.local:5000/api/red" class="linkInActive" target="Temp">RED</a>
      </td>
    </tr>
  </tbody>
  </table> -->
{% endblock %}
